<navbar>
<button class="btn, btn-lg btn-outline-dark"><%= link_to "Retour", root_path, class: "no-underline"%></button>
</navbar>
<center>
<h1 class="display-3">Bienvenue sur la page principal admin !</h1><br><br>


<button class="btn btn-lg btn-outline-dark"><%= link_to "Page Fournisseur", fournis_path, class: "no-underline" %></button>
<button class="btn btn-lg btn-outline-dark"><%= link_to "Liste SAV", savforms_path, class: "no-underline" %></button>
<button class="btn btn-lg btn-outline-dark"><%= link_to "Page Email SAV", email_path , class: "no-underline"%></button>
</center>