<% if admin_signed_in? %>

<%= render partial: 'partials/headeradmin'%>

<div style="text-align: center;">
  <h1 id="title" class="display-1 my-4">Modifier le fournisseur</h1>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= render "formedit", fourni: @fourni %>
  </div>
  <div class="col-md-2"></div>
</div>

<% else %>
    <script>
      alert("Vous n'avez pas accès.");
      location.href="http://127.0.0.1:3000";
    </script>
<% end %>