<% if admin_signed_in? %> <!-- si l'admin est connecté -->

<%= render partial: 'partials/headeradmin'%> <!-- header admin -->  

<br/><br/>

<center>
<h1 id="title" class="display-2">Nouveau fournisseur</h1>
<br>

<%= render "form", fourni: @fourni %>
</center>

<%= render partial: 'partials/footer'%>

<% else %>
    <script>
      alert("Vous n'avez pas accès.");
      location.href="http://127.0.0.1:3000"; // redirection vers la page d'accueil si l'admin n'est pas connecté'
    </script>
<% end %>