<%= render partial: 'partials/headeradmin'%>

<br/><br/>

<center>
<h1 id="title" class="display-2">Nouveau fournisseur</h1>
<br>

<%= render "form", fourni: @fourni %>
</center>

<%= render partial: 'partials/footer'%>