<html> <!-- forme du mail de confirmation de la demande de sav -->
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Merci pour votre demande, <%= @data.nom %>
    ------------------------------------------</h1><br>

    <p>Votre demande sera bientôt prise en compte par notre service, nous vous recontacterons quand vous
    il y aura du nouveaux.</p>
    <p>Merci pour votre confiance et votre patience !</p>
    
    

  </body>
</html>