<%= render partial: "partials/headerclient" %>

<br/><br/>

<center>
<h1 id="title" class="display-1 mb-5">DCBS SAV</h1>
<button class="btn btn-lg btn-outline-dark"><%=link_to "Demande SAV", new_savform_path, class: "no-underline"%></button>
</center>

<div class="fixed-bottom">
<%= render partial: "partials/footer" %>
</div>