<% if admin_signed_in? %>

<%= render partial: 'partials/headeradmin'%>

<div style="text-align: center;">
    <h1 id="title" class="display-1 my-4">Demandes de SAV en attente</h1>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: center;">
        <div class="card container col-md-8" style="background-color: rgb(40, 45, 58); border: 0;">
            <div class="list-group" style="text-align: center;">
                <%@savforms.each do |savform|%>
                    <%=link_to savform.numCommande, savform, class: "list-group-item list-group-item-action mb-1" %>
                <%end%>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="fixed-bottom">
<%= render partial: "partials/footer" %>
</div>

<% else %>
    <script>
      alert("Vous n'avez pas accès.");
      location.href="http://127.0.0.1:3000";
    </script>
<% end %>