<%= render partial: 'partials/headeradmin'%>

<br/><br/>

<center>
<h1 id="title" class="display-2">Liste des formulaires SAV</h1>
<br>
<ul>
    <%@savforms.each do |savform|%>
        <li><%=link_to savform.numCommande, savform%></li>
    <%end%>

</ul>
</center>

<%= render partial: "partials/footer" %>